@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #4a4a4a;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden; }

@media only screen and (max-width: 600px) {
  .form-color {
    margin-top: -35%; } }
#top-bar {
  border-bottom: 1px solid #2196f3; }
  #top-bar marquee {
    line-height: 30px; }
  #top-bar .loginsbtn {
    align-items: center;
    line-height: 30px; }
    #top-bar .loginsbtn a {
      text-decoration: none;
      text-align: center;
      color: #2196f3;
      font-weight: 500; }
  #top-bar .socail-media ul {
    border: none;
    margin-top: 4px;
    margin-bottom: 4px;
    list-style: none; }
    #top-bar .socail-media ul li {
      border: 1px solid #2196f3;
      padding: 6px 10px;
      line-height: 0px; }
      #top-bar .socail-media ul li:hover {
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; }
      #top-bar .socail-media ul li a {
        padding: 0px 4px;
        transition: 0.1s;
        background: transparent; }
        #top-bar .socail-media ul li a .fa-facebook {
          color: #3b5998; }
        #top-bar .socail-media ul li a .fa-instagram {
          color: #8a3ab9; }
        #top-bar .socail-media ul li a .fa-youtube {
          color: #ff0000; }

.nav-bar {
  margin-top: -5px; }
  .nav-bar .navbar-brand {
    transition: 0.3s; }
    .nav-bar .navbar-brand:hover {
      transform: scale(1.2);
      color: #2196f3 !important; }
  .nav-bar ul {
    list-style: none;
    border-radius: 4px; }
    .nav-bar ul li {
      padding: 8px 29px;
      margin-left: 29px;
      position: relative;
      transition: 0.3s; }
      .nav-bar ul li:hover::before {
        content: "";
        bottom: 0;
        left: 23px;
        width: 75px;
        height: 4px;
        position: absolute;
        background-color: #2196f3; }
      .nav-bar ul li .active {
        color: #2196f3 !important; }
      .nav-bar ul li a {
        font-family: "Poppins", Sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: #17252a !important;
        transition: 0.3s; }
        .nav-bar ul li a:hover {
          transform: scale(1.2);
          color: #2196f3 !important;
          border-radius: 2px; }

.Second {
  margin-top: -5px; }
  .Second .parallax {
    background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(https://source.unsplash.com/1600x900/?room,interior) repeat fixed 100%;
    background-size: cover;
    height: 100vh; }
    .Second .parallax .content {
      margin-top: 225px; }
      .Second .parallax .content .form-color {
        padding: 35px;
        background-color: #2196f3;
        opacity: 0.8;
        border-radius: 4px;
        transition: 0.3s; }
        .Second .parallax .content .form-color:hover {
          border-radius: 5%; }
        .Second .parallax .content .form-color .btn {
          color: white;
          font-weight: 500;
          border: 1px solid #3b5998 !important; }
          .Second .parallax .content .form-color .btn:hover {
            color: #2196f3;
            background-color: #3b5998; }

#room-list .insta-title {
  position: relative;
  text-align: center;
  color: #172a19;
  font-family: "Poppins", sans-serif;
  font-size: 30px !important;
  font-weight: 700 !important;
  margin-bottom: 60px; }
  #room-list .insta-title::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    left: 47%;
    top: 50px;
    background-color: #2196f3; }
#room-list .more {
  text-align: center;
  margin-top: 50px; }
  #room-list .more a {
    text-decoration: none;
    padding: 15px 25px;
    background-color: #2196f3;
    color: white; }
#room-list .row {
  padding: 15px;
  background-color: #f2f2f2; }
#room-list .box {
  border: 1px solid #2196f3;
  padding: 15px;
  text-align: start;
  color: #172a19; }
  #room-list .box .inner-box .btn {
    margin-top: 10px;
    font-weight: 500;
    color: #172a19;
    border: 2px solid #3b5998 !important; }
    #room-list .box .inner-box .btn:hover {
      color: #2196f3;
      background-color: #3b5998; }
  #room-list .box .inner-box i {
    color: #2196f3; }
  #room-list .box .inner-box h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #333333; }
  #room-list .box .inner-box h6 {
    color: #2196f3;
    margin-top: 5px; }
  #room-list .box .inner-box .box-slider {
    width: 100%;
    height: 10%; }

.teams {
  /*--- Login/Signup Modal ---*/
  /*Profile Card 5*/ }
  .teams .insta-title {
    position: relative;
    text-align: center;
    color: #172a19;
    font-family: "Poppins", sans-serif;
    font-size: 30px !important;
    font-weight: 700;
    margin-bottom: 60px; }
    .teams .insta-title::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 3px;
      left: 47%;
      top: 50px;
      background-color: #2196f3; }
  .teams .box {
    padding: 15px;
    border: 1px solid #2196f3; }
    .teams .box .box-inner .image img {
      border: 3px solid #2196f3;
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  .teams .alltrans,
  .teams a,
  .teams input[type="button"],
  .teams input[type="submit"],
  .teams button,
  .teams table th,
  .teams table td,
  .teams .navigation-menu > li > a span:after,
  .teams .btn,
  .teams .btn:after,
  .teams .section-title:after,
  .teams .service-icon,
  .teams .owl-dot,
  .teams .owl-nav > div,
  .teams .blog-img img,
  .teams .owl-nav > div:before,
  .teams .portfolio-box:after,
  .teams .portfolio-box img,
  .teams .portfolio-content {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .teams a {
    color: #e52225;
    text-decoration: none; }
  .teams a:hover,
  .teams a:focus {
    color: #e52225;
    outline: none;
    text-decoration: none; }
  .teams button:hover,
  .teams button:focus {
    outline: none; }
  .teams .link-dark {
    color: #0f0f0f; }
  .teams .link-dark:hover,
  .teams .link-dark:focus {
    color: #e52225;
    text-decoration: none; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .teams a:active {
      background-color: transparent; } }
  .teams strong {
    font-weight: 700; }
  .teams small,
  .teams .small {
    font-size: 85%; }
  .teams sub,
  .teams sup {
    font-size: 80%; }
  .teams p {
    margin: 0 0 20px; }
  .teams h1,
  .teams h2,
  .teams h3,
  .teams h4,
  .teams h5,
  .teams h6 {
    line-height: 1.3;
    margin: 0 0 15px;
    font-weight: 700;
    color: #0f0f0f;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif; }
  .teams h1,
  .teams h2 {
    font-size: 60px; }
  .teams h3 {
    font-size: 30px;
    font-weight: 600; }
  .teams h4 {
    font-size: 24px;
    font-weight: 600; }
  .teams h5 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600; }
  .teams h6 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600; }
  .teams .team-main {
    padding: 30px 0px; }
  .teams .team-main .title-wb {
    text-align: center;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 500; }
  .teams .profile-card-5 {
    margin-top: 0px;
    box-shadow: -18px 19px 31px rgba(0, 0, 0, 0.2);
    background-size: cover !important;
    height: 435px;
    position: relative;
    border-radius: 6px; }
  .teams .profile-card-5 .btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 20px; }
  .teams .profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px; }
  .teams .profile-card-5 .card-img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63); }
  .teams .profile-card-5 h5 {
    color: #4e5e30;
    font-weight: 600;
    margin: 0px; }
  .teams .profile-card-5 p {
    font-size: 14px;
    font-weight: 300; }
  .teams .profile-card-5 .btn-primary {
    background-color: #4e5e30;
    border-color: #4e5e30; }
  .teams .text-content {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 3; }
  .teams .text-content h3 {
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    margin: 0px;
    text-align: center; }
  .teams .text-content p {
    text-align: center;
    color: #ffffff;
    margin: 0px;
    padding-bottom: 10px; }
  .teams .profile-card-5 .filter {
    border-radius: 6px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2; }
  .teams .social-line {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 0px 0px;
    padding: 5px 0px; }
  .teams .social-line ul {
    display: block;
    text-align: center; }
  .teams .social-line ul li {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px; }
  .teams .social-line ul li a {
    color: #ffffff;
    font-size: 18px; }
  .teams .image-flip:hover .back-b,
  .teams .image-flip.hover .back-b {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    border-radius: 0.25rem; }
  .teams .image-flip:hover .front-A,
  .teams .image-flip.hover .front-A {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  .teams .flip-team {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative; }
  .teams .front-A {
    position: relative;
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    z-index: 2;
    margin-bottom: 30px; }
  .teams .back-b {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
    -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
    box-shadow: 5px 7px 9px -4px #9e9e9e; }
  .teams .front-A,
  .teams .back-b {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d; }
  .teams .bor-no {
    border: none; }
  .teams .back-b .card {
    padding: 15px; }
  .teams .back-b .card p.card-text {
    line-height: 24px; }
  .teams .list-inline li a {
    display: block;
    width: 32px;
    height: 32px;
    padding: 8px 0px;
    text-align: center;
    background: #333333;
    border-radius: 6px;
    color: #ffffff; }
  .teams .list-inline li a:hover {
    background: #c8c8c8; }
  .teams .back-b .card h4.card-title {
    font-size: 20px; }
  .teams .copyright.text-center {
    margin-top: 30px;
    margin-bottom: 0px;
    color: #ffffff; }
  .teams .copyright.text-center a {
    color: #333333; }
  .teams .copyright.text-center a:hover {
    color: #333333; }
  @media (min-width: 768px) and (max-width: 991px) {
    .teams .col-widget-3 {
      margin-bottom: 30px; }
    .teams .currentWeather h2 {
      margin-bottom: 5px; }
    .teams .temp-desc {
      margin-bottom: 5px; } }
  @media (max-width: 767px) {
    .teams .col-widget-3 {
      margin-bottom: 30px; }
    .teams .currentWeather h2 {
      margin-bottom: 5px; }
    .teams .temp-desc {
      margin-bottom: 5px; } }
  @media only screen and (min-width: 280px) and (max-width: 575px) {
    .teams .col-widget-3 {
      margin-bottom: 30px; } }

#footer {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; }
  #footer .row {
    padding-top: 50px;
    padding-bottom: 50px; }
  #footer .img-footer {
    text-align: center; }
    #footer .img-footer img {
      width: 169px;
      height: 89px; }
  #footer .widget-title {
    position: relative;
    left: 20px;
    font-family: Poppins;
    font-weight: 800;
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
    text-transform: uppercase; }
    #footer .widget-title::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 20px;
      left: -20px;
      background-color: #2196f3; }
  #footer #ocean_custom_menu-5 {
    position: relative; }
    #footer #ocean_custom_menu-5 ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top: 20px; }
      #footer #ocean_custom_menu-5 ul li {
        display: inline-block;
        width: 100%;
        margin: 0 0 15px;
        padding: 0;
        border: 0; }
        #footer #ocean_custom_menu-5 ul li a {
          text-decoration: none;
          color: #4a4a4a;
          transition: 0.3;
          font-size: 14px;
          font-family: Poppins; }
          #footer #ocean_custom_menu-5 ul li a:hover {
            color: #3aafa9; }
  #footer #ocean_contact_info-6 i {
    padding: 15px 15px;
    border: 1px solid #17252a;
    color: #2196f3;
    font-size: 12px; }
  #footer #ocean_contact_info-6 ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none; }
    #footer #ocean_contact_info-6 ul li {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-top: 25px; }
      #footer #ocean_contact_info-6 ul li:hover {
        color: #2196f3; }
      #footer #ocean_contact_info-6 ul li .oceanwp-info-wrap {
        padding-left: 15px; }
        #footer #ocean_contact_info-6 ul li .oceanwp-info-wrap .oceanwp-contact-text {
          line-height: 18px;
          display: block; }
        #footer #ocean_contact_info-6 ul li .oceanwp-info-wrap .oceanwp-contact-title {
          color: #17252a;
          font-weight: bold;
          line-height: 1.4; }
      #footer #ocean_contact_info-6 ul li a {
        font-family: Poppins;
        text-decoration: none;
        color: #4a4a4a;
        transition: 0.3; }
        #footer #ocean_contact_info-6 ul li a:hover {
          color: #2196f3; }
  #footer #ocean_social-3 ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; }
    #footer #ocean_social-3 ul i {
      color: #17252a; }
    #footer #ocean_social-3 ul .oceanwp-facebook {
      border: 1px solid #17252a;
      transition: 0.3s; }
      #footer #ocean_social-3 ul .oceanwp-facebook:hover {
        border: 1px solid #3b5998; }
        #footer #ocean_social-3 ul .oceanwp-facebook:hover i {
          color: #3b5998; }
    #footer #ocean_social-3 ul .oceanwp-instagram {
      border: 1px solid #17252a;
      transition: 0.3s; }
      #footer #ocean_social-3 ul .oceanwp-instagram:hover {
        border: 1px solid #405de6; }
        #footer #ocean_social-3 ul .oceanwp-instagram:hover i {
          color: #405de6; }
    #footer #ocean_social-3 ul .oceanwp-youtube {
      border: 1px solid #17252a;
      transition: 0.3s; }
      #footer #ocean_social-3 ul .oceanwp-youtube:hover {
        border: 1px solid red; }
        #footer #ocean_social-3 ul .oceanwp-youtube:hover i {
          color: red; }
    #footer #ocean_social-3 ul li {
      display: inline-block;
      margin-top: 20px;
      padding: 14px 19px; }
      #footer #ocean_social-3 ul li a {
        text-decoration: none;
        font-size: 16px; }
  #footer #footer-bottom {
    font-family: Poppins;
    text-align: center;
    background-color: #17252a;
    padding: 20px 0 12px 0;
    font-size: 14px;
    font-weight: 400px;
    line-height: 1; }

.details {
  /* Add padding to containers */
  /* Full-width input fields */
  /* Overwrite default styles of hr */
  /* Set a style for the submit/register button */
  /* Add a blue text color to links */
  /* Set a grey background color and center the text of the "sign in" section */ }
  .details * {
    box-sizing: border-box; }
  .details .containerr {
    padding: 16px;
    border: 3px solid #2196f3; }
  .details .search {
    margin-top: 50px;
    background-color: #2196f3;
    padding: 30px; }
    .details .search input {
      margin-bottom: 20px; }
    .details .search button {
      margin-top: 20px;
      text-transform: uppercase;
      outline: 0;
      background: #4caf50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #fff;
      font-size: 14px;
      cursor: pointer; }
      .details .search button:hover {
        background: #43a047; }
  .details input[type="text"],
  .details input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1; }
  .details input[type="text"]:focus,
  .details input[type="password"]:focus {
    background-color: #ddd;
    outline: none; }
  .details hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px; }
  .details .registerbtn {
    background-color: #2196f3;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-weight: 500; }
  .details .registerbtn:hover {
    opacity: 1; }
  .details a {
    color: white; }
  .details .signin {
    background-color: #f1f1f1;
    text-align: center; }
  .details .details-slider {
    overflow: hidden; }
    .details .details-slider img {
      width: 100%;
      height: 5%;
      transition: 0.3s;
      opacity: 0.9;
      height: 400px;
      background: linear-gradient(rgba(4, 9, 30, 0.8), rgba(2, 4, 12, 0.8)), repeat fixed 100%; }
    .details .details-slider i {
      line-height: 80px;
      font-size: 25px; }
    .details .details-slider .carousel-control-next-icon,
    .details .details-slider .carousel-control-prev-icon {
      background: #2196f3 !important;
      width: 80px;
      height: 80px;
      opacity: 0.7; }
      .details .details-slider .carousel-control-next-icon:hover,
      .details .details-slider .carousel-control-prev-icon:hover {
        opacity: 0.3; }
  .details .main-details h3 {
    text-align: center;
    padding: 10px;
    color: #2196f3;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 1px solid #2196f3; }
  .details .main-details p {
    text-align: start;
    width: 100%; }
  .details h3 {
    font-weight: 700; }
  @media only screen and (max-width: 600px) {
    .details .containerr {
      margin-top: 10px; } }

.loginRegister {
  position: relative;
  min-height: 100vh;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .loginRegister * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .loginRegister .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden; }
  .loginRegister .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; }
  .loginRegister .container .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s; }
  .loginRegister .container .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .loginRegister .container .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s; }
  .loginRegister .container .user .formBx form h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555; }
  .loginRegister .container .user .formBx form input {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300; }
  .loginRegister .container .user .formBx form input[type="submit"] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s; }
  .loginRegister .container .user .formBx form .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300; }
  .loginRegister .container .user .formBx form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #677eff; }
  .loginRegister .container .signupBx {
    pointer-events: none; }
  .loginRegister .container.active .signupBx {
    pointer-events: initial; }
  .loginRegister .container .signupBx .formBx {
    left: 100%; }
  .loginRegister .container.active .signupBx .formBx {
    left: 0; }
  .loginRegister .container .signupBx .imgBx {
    left: -100%; }
  .loginRegister .container.active .signupBx .imgBx {
    left: 0%; }
  .loginRegister .container .signinBx .formBx {
    left: 0%; }
  .loginRegister .container.active .signinBx .formBx {
    left: 100%; }
  .loginRegister .container .signinBx .imgBx {
    left: 0%; }
  .loginRegister .container.active .signinBx .imgBx {
    left: -100%; }
  @media (max-width: 991px) {
    .loginRegister section .container {
      max-width: 400px; }
    .loginRegister section .container .imgBx {
      display: none; }
    .loginRegister section .container .user .formBx {
      width: 100%; } }

.arrow {
  width: 35px;
  height: 35px;
  background: #2196f3;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  transition: 0.3s; }

.fixed {
  position: fixed;
  top: -8px;
  left: 0%;
  width: 100%;
  height: 100px;
  background: #fff !important;
  z-index: 999;
  transition: 0.3s ease-in-out;
  opacity: 0.8; }

/*# sourceMappingURL=style.css.map */
